%rebase('osnova.html', naslov='Iskanje', stran='iskanje')

<div >
  <div>
    <form action="/iskanje/" method="post">
      <label for="user_zacetek">Datum prihoda:</label>
      <input type="date" name="user_zacetek">
  
      <label for="user_konec">Datum odhoda:</label>
      <input type="date" name="user_konec">
      <button type="submit">Najdi!</button>
    </form>
  </div>

  <!-- OBRAZEC ZA PRIJAVO -->
  <!-- <div>
    <form action="{{url('/prijava')}}" method="POST" style="width:60%">
      <div class="form-group">
        <label for="username">Uporabniško ime</label>
        <input type="input" class="form-control" name="username"  placeholder="Vnesi uporabniško ime">
      </div>
      <div class="form-group">
        <label for="password">Geslo</label>
        <input type="password" class="form-control" name="password" placeholder="Geslo">
      </div>
     
      <button type="submit" class="btn btn-primary">Prijava</button>
    </form>
  </div>

</div> -->


  

  
